<%- include('partials/header.ejs')%>
<h1>Meus pedidos</h1>
<%=pedido %>



 <% pedido.forEach(pedido => {%>
        Produto : <%=pedido.produto %> <br>
        Preço : <%=pedido.preco %> <br><br>
    <% }) %>

<h4>foreach dentro de tabela</h4>


<table border="1">
    <tr>
        <th>Produto</th>
        <th>Preço</th>
    </tr>
    <% pedido.forEach(pedido=> {%>
        <tr>
            <td>
                <%=pedido.produto %>
            </td>
            <td>
                <%=pedido.preco %>
            </td>
        </tr>
        <% }) %>
</table>

<%- include('partials/footer.ejs')%>